{% extends 'base.html' %}
{% block content %}
                <a href="{% url 'export_users_csv' class_pk=class.pk subject_pk=subject.pk %}" class="btn btn-black" style="width:20em">Export all users</a>
                <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Roll No</th>
                        {% for time in last_attendance.detailed_attendance.all %}
                                <th>{{time.timestamp}}</th>
                        {% endfor %}
                    </tr>
            {% for student in attendance %}
                  
                <tr>
                    <td>{{student.student.first_name}}</td>
                    <td>{{student.student.last_name}}</td>
                    <td>{{student.student.roll_no}}</td>
                    {% for day in student.detailed_attendance.all  %}
                            {% if day.present %}
                                <td class="text text-success"><b>Present</b></td>
                            {% else %}
                                <td class="text text-danger"><b>Absent</b></td>
                            {% endif %}
                    {% endfor %}
                </tr> 
            
            {% endfor %}

                </table>
                </div>


{% endblock content %}