{% extends "base.html" %}

{% block content %}

        <h1>{{teacher.first_name}} {{teacher.last_name}}</h1>
       
        {% for subject in detail %} 
        <div class="card" style="margin:2em;padding:2em">
            <h3>subject:{{subject.subject.subject_name}}</h3>
            <h4>class:</h4>{% for class in subject.classes.all  %}
                    <h3>{{class.branch}} {{class.divison}}</h3>
                    academic year : {{class.academic_year}}<br>
                    semester : {{class.semester}}<br>
                    <a href = "{% url "class" pk=class.pk subject_pk=subject.subject.pk %}" class="btn btn-black" style="width:20em"> view detailed </a> 
                    <a href = "{% url "mark-attendance" pk=class.pk subject_pk=subject.subject.pk %}" class="btn btn-black"style="width:20em"> mark attendance </a>
                {% endfor %}<br>
        </div>
        {% endfor %}
        
{% endblock content %}

