{% extends 'base.html' %}
{% block content %}
<h5><b>select absent students only</b></h5>
            <h3>{{class.branch}} {{class.divison}}</h3>
            <h3>{{subject.subject_name}}</h3>
            academic year : {{class.academic_year}}<br>
            semester : {{class.semester}}<br>

            students:
            <form method="POST" class="">
                {% csrf_token %}
                <label for="lecture-time">Lecture (date and time):</label>
                <input type="date" id="lecture-date" name="lecture-date" >
                <input type="time" id="lecture-time" name="lecture-time" >
                    <br>

                {% for student in students  %}
                    <input name="attendance-absent-set" type="checkbox" value="{{ student.student.pk }}" id="attendance" >
                        <label>{{student.student.first_name}}</label><br> 
                    </input>
                {% endfor %}
                <button type="submit">submit</button>
           </form>
    
{% endblock content %}